 @import "bootstrap-sprockets";
 @import "bootstrap";

.welcome.page {
    text-align: center;
}

button.btn.btn-primary.dropdown-toggle {
    width: 75%;
    height: 200px;
    font-size: 44px;
}

.open>.dropdown-menu {
    display: block;
    position: absolute;
    width: 96%;
    left: 2%;
    font-size: 46px;
}

#cookies-warning {
	color: green;
    font-size: 40px;
}

.btn-success {
    height: 200px;
    width: 73%;
    font-size: 80px;
    box-shadow: 10px 10px 5px #888888;
}

button.btn.btn-primary.btn-lg.btn-block {
    height: 200px;
    font-size: 88px;
    position: relative;
    top: 40px;
    box-shadow: 10px 10px 5px #888888;
}

button.btn.btn-secondary.btn-lg.btn-block {
    height: 200px;
    font-size: 88px;
    box-shadow: 10px 10px 5px #888888;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    position: relative;
    top: 111px;
    height: 150px;
    width: 65%;
    font-size: 39px;
    box-shadow: 10px 10px 5px #888888;
}

.commute.options { 
	text-align: center;
}

h1.welcome.header {
    font-size: 86px;
}

h1.commute.options.header {
    font-size: 71px;
    margin-top: 11%;
    margin-bottom: 15%;
}

h3.panel-title {
    font-size: 50px;
    height: 200px;
    position: relative;
    top: 63px;
}

.table-bordered {
    border: 1px solid #ddd;
    font-size: 60px;
}

h1.commute.header {
    text-align: center;
    font-size: 78px;
}

h2.commute.subheader {
    text-align: center;
    font-size: 54px;
}

.commute.option.buttons {
    width: 55%;
    position: relative;
    margin: auto;
}

button#home-dropdown-button {
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
}

button#work-dropdown {
    width: 100%;
    box-shadow: 10px 10px 5px #888888;  
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}