 @import "bootstrap-sprockets";
 @import "bootstrap";

.welcome.page {
    text-align: center;
    position: relative;
    bottom: 658px;
}

h1.welcome.header {
    margin-bottom: 36px;
}

.panel.panel-default {
    position: relative;
    margin: auto;
    opacity: 0.8;
    background: black;
}

.dropdown.container {
    width: 100%;
}

button#start-dropdown-button {
    width: 100%;
}

button#stop-dropdown-button {
    width: 100%;
}

ul.dropdown-menu.scrollable-menu {
    width: 389px;
    left: 15px;
    text-align: center;
    font-size: 17px;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.btn-success {
    color: #fff;
    position: relative;
    width: 107px;
    min-width: 1%;
    top: 10px;
}

h6#cookies-warning {
    position: relative;
    top: 10px;
}

.everything {
    text-align: center;
}

.commute.option.buttons {
    width: 40%;
    margin: auto;
}

button#work-button {
    min-width: 80%;
    font-size: 20px;
    box-shadow: 5px 5px 3px #888888;
}
button#home-button {
    width: 80%;
    margin: auto;
    position: relative;
    top: 30px;
    box-shadow: 5px 5px 3px #888888;
}



table.table.table-bordered {
    font-size: 20px;
}

th#departing {
    text-align: center;
}

th#arriving {
    text-align: center;
}

.all.components {
    width: 450px;
    height: 705px;
    margin: auto;
    color: white;

}

img#background-image {
    display: inline-block;
    width: 450px;
    height: 705px;
    min-width: 450px;
    left: 458px;
}

h2.commute.subheader {
    font-size: 20px;
}

h3#heading-to-label {
    position: relative;
    top: 10px;
}

td {
    width: 50%;
}

#more-button {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    position: absolute;
    left: 653px;
    top: 665px;
    border-radius: 27px;
}

div#commute-component {
    bottom: 653px;
    position: relative;
}

/*DO NOT TOUCH VERY SENSITIVE THANK YOU*/
@media screen and (max-device-width: 480px) {
   
}
