 @import "bootstrap-sprockets";
 @import "bootstrap";

.welcome.page {
    text-align: center;
}

button.btn.btn-primary.dropdown-toggle {
    width: 70%;
}

.open>.dropdown-menu {
    display: block;
    width: 68%;
    left: 16%;
}

#cookies-warning {
	color: green;
}

.btn-success {
	width: 63%;
}

.commute.options { 
	text-align: center;
}

button.btn.btn-primary.btn-lg.btn-block {
    height: 200px;
    font-size: 88px;
}

button.btn.btn-secondary.btn-lg.btn-block {
    height: 200px;
    font-size: 88px;
}

h1.commute.options.header {
    font-size: 80px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    position: relative;
    top: 10px;
    height: 150px;
    width: 65%;
    font-size: 60px;
}

.table-bordered {
    border: 1px solid #ddd;
    font-size: 30px;
}

h1.commute.header {
    text-align: center;
    font-size: 78px;
}

h2.commute.subheader {
    text-align: center;
    font-size: 54px;
}